version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      torch:
        patterns:
          - "torch"
          - "torchvision"
    ignore:
      - dependency-name: "setuptools"
        update-types: ["version-update:semver-patch"]