name: labeler
on:
  - pull_request_target
jobs:
  label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6
      - name: Add label
        uses: actions/labeler@v6
        with:
          sync-labels: true